---
import { readFile } from 'node:fs/promises'
import { mapLanguages } from '$i18n/languages.js'
import MarkdownLanguageProvider from './MarkdownLanguageProvider.svelte'
import { parse } from 'marked'

const markdownPath = '../../src/markdown'
const { en, ru } = mapLanguages
const { page } = Astro.props
const { url } = import.meta

const path = new URL(`${markdownPath}/${page}/${ru}.md`, url)
const enc = 'utf-8'
const [RU, EN] = await Promise
    .all([ readFile(path, enc), readFile(path, enc)])
    .then((data) => data.map((md) => parse(md)))
---

<div id='markdown' class={page}>
    <MarkdownLanguageProvider
        client:load
        RU={RU}
        EN={EN}
    />
</div>
