---
import { readFile } from 'node:fs/promises'
import { mapLanguages } from '$i18n/languages.js'
import MarkdownLanguageProvider from './MarkdownLanguageProvider.svelte'

const markdownPath = '../../markdown'
const { en, ru } = mapLanguages
const { page } = Astro.props
const { url } = import.meta

const [RU, EN] = await Promise.all([
    readFile(new URL(`${markdownPath}/${page}/${ru}.md`, url), 'utf-8'),
    readFile(new URL(`${markdownPath}/${page}/${en}.md`, url), 'utf-8'),
])
---

<div id='markdown' class={page}>
    <MarkdownLanguageProvider
        client:load
        RU={RU}
        EN={EN}
    />
</div>
