---
import { readFile } from "node:fs/promises";
import { fileURLToPath } from "node:url";
import { resolve, dirname } from "node:path";
import { parse } from "marked";
import { languages } from "$i18n/languages.js";
import MarkdownLanguageProvider from "./MarkdownLanguageProvider.svelte";

const { page } = Astro.props;

const prefix = "../../markdown";
const enc = "utf-8";
const __dirname = dirname(fileURLToPath(import.meta.url));
const langPaths = languages.map((lang) => {
    const path = resolve(__dirname, `${prefix}/${page}/${lang}.md`);
    return readFile(path, enc);
});
const [EN, RU] = await Promise.all(langPaths).then((data) =>
    data.map((md) => parse(md)),
);
---

<div id="markdown" class={page}>
    <MarkdownLanguageProvider client:load RU={RU} EN={EN} />
</div>
